body > header {
  margin: 0 auto;
  background: $header-bg;
  text-align: center;
  a {
    @include link-colors($header-link-color, $hover: $header-link-color-hover, $focus: $header-link-color-hover, $visited: $header-link-color-visited, $active: $header-link-color-active);
  }
  h1 {
    display: inline-block;
    margin: 0;
    a {
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: .7em;
    color: $subtitle-color;
    font-weight: normal;
  }
  img {
    max-width: 100px;
    max-height: 100px;
    padding-right: 30px;
    position: relative;
    top: 30px;
  }
}


@media only screen and (max-width: 550px) {
  body > header {
    h1 {
      padding-top: 40px;
    }
  }
}
